$A1: rgb(255, 128, 128);
$A2: rgb(255, 0, 0);
$A3: rgb(128, 64, 64);
$A4: rgb(128, 0, 0);
$A5: rgb(64, 0, 0);
$A6: rgb(0, 0, 0);
$B1: rgb(255, 255, 232);
$B2: rgb(255, 255, 128);
$B3: rgb(255, 255, 0);
$B4: rgb(255, 128, 0);
$B5: rgb(128, 64, 0);
$B6: rgb(128, 128, 0);
$C1: rgb(128, 255, 128);
$C2: rgb(128, 255, 0);
$C3: rgb(0, 255, 0);
$C4: rgb(0, 128, 0);
$C5: rgb(0, 64, 0);
$C6: rgb(128, 128, 64);
$D1: rgb(0, 255, 128);
$D2: rgb(0, 255, 64);
$D3: rgb(0, 128, 128);
$D4: rgb(0, 128, 64);
$D5: rgb(0, 64, 64);
$D6: rgb(128, 128, 128);
$E1: rgb(128, 255, 255);
$E2: rgb(0, 255, 255);
$E3: rgb(0, 64, 128);
$E4: rgb(0, 0, 255);
$E5: rgb(0, 0, 128);
$E6: rgb(64, 128, 128);
$F1: rgb(0, 128, 255);
$F2: rgb(0, 128, 192);
$F3: rgb(128, 128, 255);
$F4: rgb(0, 0, 160);
$F5: rgb(0, 0, 64);
$F6: rgb(192, 192, 192);
$G1: rgb(255, 128, 192);
$G2: rgb(128, 128, 192);
$G3: rgb(128, 0, 64);
$G4: rgb(128, 0, 128);
$G5: rgb(64, 0, 64);
$G6: rgb(130, 130, 130);
$H1: rgb(255, 128, 255);
$H2: rgb(255, 0, 255);
$H3: rgb(255, 0, 128);
$H4: rgb(128, 0, 255);
$H5: rgb(64, 0, 128);
$H6: rgb(255, 255, 255);

$colors:
    ("A1": $A1, "A2": $A2, "A3": $A3, "A4": $A4, "A5": $A5, "A6": $A6,
    "B1": $B1, "B2": $B2, "B3": $B3, "B4": $B4, "B5": $B5, "B6": $B6,
    "C1": $C1, "C2": $C2, "C3": $C3, "C4": $C4, "C5": $C5, "C6": $C6,
    "D1": $D1, "D2": $D2, "D3": $D3, "D4": $D4, "D5": $D5, "D6": $D6,
    "E1": $E1, "E2": $E2, "E3": $E3, "E4": $E4, "E5": $E5, "E6": $E6,
    "F1": $F1, "F2": $F2, "F3": $F3, "F4": $F4, "F5": $F5, "F6": $F6,
    "G1": $G1, "G2": $G2, "G3": $G3, "G4": $G4, "G5": $G5, "G6": $G6,
    "H1": $H1, "H2": $H2, "H3": $H3, "H4": $H4, "H5": $H5, "H6": $H6);