@use "../_palette";

// Theme: Bordeaux
.theme-bordeaux {
    --desktop: #{palette.$G3};
    --applicationWorkspace: #{palette.$F6};
    --windowBackground: #{palette.$H6};
    --windowText: #{palette.$A6};
    --menuBar: #{palette.$H6};
    --menuText: #{palette.$A6};
    --activeTitleBar: #{palette.$G4};
    --inactiveTitleBar: #{palette.$F6};
    --activeTitleBarText: #{palette.$H6};
    --inactiveTitleBarText: #{palette.$A6};
    --activeBorder: #{palette.$H4r};
    --inactiveBorder: #{palette.$F6r};
    --windowFrame: #{palette.$A6};
    --scrollBars: #{palette.$F6};
    --buttonFace: #{palette.$F6};
    --buttonShadow: #{palette.$D6r};
    --buttonText: #{palette.$A6};
    --buttonHighlight: #{palette.$H6};
    --disabledText: #{palette.$D6};
    --highlight: #{palette.$G4r};
    --highlightedText: #{palette.$H6r};
}