@use "../_palette";

// Theme: LCD Reversed  Dark
.theme-lcd-reversed-dark {
    --desktop: #{palette.$A6};
    --applicationWorkspace: #{palette.$A4};
    --windowBackground: #{palette.$A4};
    --windowText: #{palette.$H6};
    --menuBar: #{palette.$B6};
    --menuText: #{palette.$A6};
    --activeTitleBar: #{palette.$B6};
    --inactiveTitleBar: #{palette.$E5};
    --activeTitleBarText: #{palette.$A6};
    --inactiveTitleBarText: #{palette.$G6};
    --activeBorder: #{palette.$B6r};
    --inactiveBorder: #{palette.$E5r};
    --windowFrame: #{palette.$A6};
    --scrollBars: #{palette.$B6};
    --buttonFace: #{palette.$F6};
    --buttonShadow: #{palette.$D6r};
    --buttonText: #{palette.$A6};
    --buttonHighlight: #{palette.$H6};
    --disabledText: #{palette.$D6};
    --highlight: #{palette.$E5r};
    --highlightedText: #{palette.$H6r};
}