@font-face {
    font-family: 'System';
    src: url(fonts/GenericMobileSystem.ttf);
}

$system: 'System', sans-serif;
$sansSerif: 'MS Sans Serif', sans-serif;
$serif: 'Times', 'Times New Roman', serif;
$monospace: 'Courier', 'Courier New', monospace;